<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/styles.css' %}" />

</head>
<body>
 <div>
    <table class="mainbox">
    <tr>
        <th>ID Pytania</th>
        <th>Tresc</th>
        <th>Data</th>
        <th>Pytanie Zamkniete</th>
    </tr>
     {% for question in questions %}
         <tr>
            <td>{{ question.id }}</td>
            <td><a href="{% url 'polls:question_detail' question.id %}">{{ question.question_text }}</a></td>
            <td>{{ question.pub_date }}</td>
            <td> {{ question.type }}</td>
        </tr>
     {% endfor %}
    </table>
 </div>
</body>
</html>